.working-with-us-wrapper {
  background-color: #000000;
  .hero-image {
    height: 100%;
    width: 100%;
    // background-color: red;
    text-align: center;
    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .working-with-container {
    display: flex;
    justify-content: center;
    margin-top: -15%;
    .content {
      background: #c2a799;
      border-radius: 0px;
      height: 258px;
      width: 100%;
      margin-left: 120px;
      margin-right: 120px;
      text-align: center;
      padding-top: 31px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 64px;
      .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 33px;
        letter-spacing: 0.84px;
        color: #FFFFFF;
        margin-bottom: 27px;
      }
      p{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        color: #000000;
        
      }
    }
  }
  .tag-section{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
  }
}
